body{
   background-color: #222831;
}

#hotbar{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: #393E46;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #00ADB5;
}

#rodape{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #393E46;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #00ADB5;
}

.container{
    display: flex;
    gap: 10px;

}

.gridCaixas{
    display: grid;
    width: 50%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 475px;
}

.caixa{
    display: flex;
    background-color: #393E46;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #00ADB5;
    
}

.lateral{
    display: flex;
    border-radius: 15px;
    width: 50%;
    background-color: #393E46;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #00ADB5;
}
