@import "./variaveis.css";
@import "./menu/menu.css";

/* Importa a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--cor-texto)
}

html,
body {
  background-color: var(--cor-fundo);
  height: 100%;
  overflow: hidden;
}

.bem-vindo {
  margin-bottom: 8px;
}

.corpo {
  flex-direction: row;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.corpo>.conteudo {
  flex: 7;
  padding: 24px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  min-height: 72px;
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  top: 0;

  h1 {
    font-size: 28px;
    color: var(--cor-fundo)
  }
}
