*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: #EEF7FF;
    border-style: none;

}

#hotbar{
    position: relative;
    display: flex; 
    padding-right: 5%;
    width: 100%;
    height: 50px;
    background-color: #EEF7FF;
    line-height: 50px;
    justify-content: space-between;
}

#esquerdaHb{
    position: relative;
    display: flex;
    height: 50px;
    width: auto;
    align-items: left;
}

#siteTitle{
    position: relative;
    display: flex;
    height: 50px;
    width: auto;
    margin-left: 5%;
}

#container{
    background-color: #EEF7FF;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    margin: 20px auto;
    height: 80%;
    width: 90%;

    /*border-style: dashed;*/

}
#prizeBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:#EEF7FF;
    height: 50%;
    width: 100%;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
    
}
#slide{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;    
}

.prize{
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: gray;
    margin: 25px;

    flex: 0 0 auto;
}

.upText{
    position: sticky;
    margin: 25px;
    
}