@import "../../variaveis.css";
@import "../../compartilhado.css";

button {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: #EEF7FF;
  border-style: none;
}

input {
  height: 32px;
  border-radius: 8px;
  padding: 4px;
}

#esquerdaHb {
  position: relative;
  display: flex;
  height: 50px;
  width: auto;
  align-items: left;
}

#siteTitle {
  position: relative;
  display: flex;
  height: 50px;
  width: auto;
  margin-left: 5%;
}

#container {
  box-shadow: var(--sombra);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  margin: 20px auto;
  height: 80%;
  width: 90%;
}

#prizeBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 50%;
  width: 100%;
  margin-bottom: 20px;
}

#slide {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.prize {
  display: inline-block;
  height: 250px;
  width: 250px;
  background-color: gray;
  margin: 25px;

  flex: 0 0 auto;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.upText {
  margin: 25px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  box-sizing: border-box;
}

.corpo {
  flex-direction: row;
  display: flex;
  height: 100%;
  overflow: hidden;
}
