@import "../compartilhado.css";
@import "../variaveis.css";

.caixa {
  display: flex;
  gap: 8px;
  background-color: var(--cor-fundo);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--cor-detalhes);
  box-shadow: var(--sombra);
}
