@import "../compartilhado.css";
@import "../variaveis.css";

.caixa {
  background-color: var(--cor-fundo);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--cor-detalhes);
  padding: 8px;
  box-shadow: var(--sombra);
}
